{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-body">
        <h2 class="text-center">{{ user.username }}</h2>
        <h3 class="text-center">{{ user.email }}</h3>
    </div>
    <form action="/users/{{user.id}}/message" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input 
                type="text" 
                name="message" 
                id="message"
                class="form-control" 
                placeholder="Sua mensagem para {{user.username}}"
            >
            <button class="btn btn-outline-secondary" type="submit">Enviar</button>
        </div>
    </form>
    {% if user.messages %}
    <ul class="list-group">
        {% for message in user.messages %}
            <li class="list-group-item">
                <a href="/users/{{message.sender_id}}">
                    @{{message.sender.username}}:
                </a href="/users/{{message.sender_id}}">
                <div class="d-flex justify-content-between">
                    <p>{{message.message}}</p>
                    {% if logged_user == message.sender or logged_user == message.receiver %}
                        <form class="float-end" action="{% url 'delete_message' message.id %}?next=/users/{{ user.id }}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" >Deletar</button>
                        </form>
                    {% endif%}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}
  </div>
{% endblock %}
